<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>cotroller.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cotroller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSettingIndividual</servlet-name>
        <servlet-class>cotroller.ProcessSettingIndividual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>cotroller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSendMail</servlet-name>
        <servlet-class>cotroller.ProcessSendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmedKPITeamLeader</servlet-name>
        <servlet-class>cotroller.confirmed.individual.ConfirmedKPITeamLeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmedKPIIndividual</servlet-name>
        <servlet-class>cotroller.confirmed.individual.ConfirmedKPIHoD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmedKPIPlanning</servlet-name>
        <servlet-class>cotroller.confirmed.individual.ConfirmedKPIPlanning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmedKPIDGD</servlet-name>
        <servlet-class>cotroller.confirmed.individual.ConfirmedKPIDGD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmedKPIGD</servlet-name>
        <servlet-class>cotroller.confirmed.individual.ConfirmedKPIGD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateStaff</servlet-name>
        <servlet-class>cotroller.evaluate.individual.EvaluateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateTeamLeader</servlet-name>
        <servlet-class>cotroller.evaluate.individual.EvaluateTeamLeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateHoD</servlet-name>
        <servlet-class>cotroller.evaluate.individual.EvaluateHoD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/kpi/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/kpi/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSettingIndividual</servlet-name>
        <url-pattern>/kpi/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSendMail</servlet-name>
        <url-pattern>/kpi/processSendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmedKPITeamLeader</servlet-name>
        <url-pattern>/kpi/confirmedKPITeamLeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmedKPIIndividual</servlet-name>
        <url-pattern>/kpi/confirmedKPIHoD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmedKPIPlanning</servlet-name>
        <url-pattern>/kpi/confirmedKPIPlanning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmedKPIDGD</servlet-name>
        <url-pattern>/kpi/confirmedKPIDGD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmedKPIGD</servlet-name>
        <url-pattern>/kpi/confirmedKPIGD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateStaff</servlet-name>
        <url-pattern>/kpi/evaluateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateTeamLeader</servlet-name>
        <url-pattern>/kpi/evaluateTeamLeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateHoD</servlet-name>
        <url-pattern>/kpi/evaluateHoD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
